<section id="content">
  <h3>Events</h3>
  <p>We host monthly Shabbat dinners, educational events, and other social events regularly. Join the mailing list or Facebook group for further information, and check back here for a list soon!</p>
</section>
