<section id="content">
  <h3>Events</h3>
  <br />
  <div class="filters">
  <h4>Location</h4>
  <div class="row">
    <div id="cities"></div>
  </div>
  <br />
  <h4>Event Type</h4>
  <div class="row">
    <div id="events"></div>
  </div>
  <script src="bundle.js"></script>
  <hr />
</section>
