<!-- Content -->
  <section id="content">
    <%= image_tag("israel-path.jpg", class: "image fit") %>
    <h3>We Are Netivot</h3>
    <p>We are Netivot, a group of LGBTQ Jews in the Boston, New York, and Tel Aviv areas who are engaged in traditional Judaism. Some of us come from Orthodox or traditional backgrounds, others are currently exploring a traditional Jewish identity. Our mission is to create a space to explore the intersection between our LGBTQ and traditional Jewish identities, and to move the traditional community towards greater understanding and acceptance of LGBTQ Jews.</p>
    <p>The literal translation of Netivot is “paths”. Netivot was created because of a need to create another path for LGBTQ Jews who have connections to traditional Judaism. Netivot serves as a warm, welcoming community for LGBTQ Jews interested in growing and learning in a traditionally minded environment. We are also committed to moving the traditional community to greater understanding and acceptance of LGBTQ Jews.</p>
  </section>
