<section id="content">
  <h3>Join Netivot</h3>
  <ul>
    <li><%= link_to("Join the email list", "https://docs.google.com/forms/d/1Gl2ErtW5cS5MrAEjVNmVqT_XOAodXkw9sBiqGBiOMJ4/viewform?edit_requested=true") %> to get updates about upcoming events.</li>
    <li><%= mail_to("netivotboston@gmail.com", "Email us") %> to get added to our Facebook group, which has privacy settings so that only members can see that the group exists or who the members are.</li>
  </ul>
  <h5>Your information is completely confidential and will not be shared with others.</h5>
</section>
